[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=1.36,<2"
python-docx = ">=1.1,<2"
pymupdf = ">=1.24,<2"
requests = ">=2.31,<3"
pandas = ">=2.2,<3"
openpyxl = ">=3.1,<4"

[requires]
python_version = "3.11"
